<article class="equipment">
  <Equipment::Image
    src="https://upload.wikimedia.org/wikipedia/commons/0/09/Riley-fish-Marlin2.jpg"
    alt="A picture of Grand Old Mansion"
  />
  <div class="details">
    <h3>Shortboard</h3>
    <div class="detail program">
      <span>Programme:</span> Vagues puissantes
    </div>
    <div class="detail height">
      <span>Taille vague:</span> 1,5
    </div>
    <div class="detail length">
      <span>Taille planche:</span> 6'
    </div>
    <div class="detail volume">
      <span>Volume:</span> 28
    </div>
  </div>
  <Map
    @lat="14.77001"
    @lng="-60.9006687"
    @zoom="10"
    @width="150"
    @height="150"
    alt="A map of Tartane"
  />
</article>